/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "materialize/extras/nouislider";
@import "font-awesome";

*{
	margin:0px;
	padding:0px;
}

body{
	background-color:#fafafb;
}

.globalcontainer{
	display: flex;
}
header {
  position: fixed;
  z-index: 1000;
  background-color:rgba(0,170,190,0.90);
  width: 100%;
  height: 65px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
}
.lognav{
	display:fixed;
	height:60px;
}
.profile_pic{
	margin-right:5px;
	display:flex;
	align-items:center;
}
.profile_pic img{
	width:40px;
	border-radius:100%;
}
.profile-pic{
	margin-right:5px;
	display:flex;
	align-items:center;
}
.profile-pic img{
	width:50px;
	border-radius:100%;
}
.follow_pic{
	display:flex;
}
.follow_pic img{
	width:40px;
	border-radius:100%;
}
.container1{
    width: 22%;
    margin-left:2px;
    margin-top:65px;
	border:1px solid #e9e9f3;
	height:588px;
	position:fixed;
	left:81%;
	background-color:white;
}
.right{
	display:flex;
	align-items:center;
}
.material-icons{
	color:white;
	font-size:34px;
	margin-right:10px;
}

.brand-logo{
	font-family: Nunito;
	font-size:35px;
}
a{
 color:#fff;
}

.slider{
	height:600px;
}
.image1{
	height:600px;
}

#brand-logo1{
    font-family:Nunito;
	margin-left:300px;
	font-size:35px;
}
#nav-wrapper1{
	background-color:rgba(0,170,190,0.90);
	display: relative;
	height:60px;
}
.nav{
	display:flex;
	flex-direction:column;
}
.foot{
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:30px;
	width:100%;
	background-color:#fff;
}
.foot p{
	color: grey;
	font-size:12px;
}
.img img{
	border-radius:100%;
}
.facebook a{
	background-color:#3c5a99;
}
.facebook{
	margin-left:115px;
}

.google{
	margin-right:70px;
}
.google a{
	background-color:#df4a32;
}
.heading{
	margin-top:70px;
}
#upperheading{
    margin-left:70px;
	margin-top:60px;
}
.heading p{
    margin-top: 0px;
    margin-bottom:0px;
    padding: 0px;
	font-size:50px;
	color:#fff;
}
#p1{
    margin-left:150px;
	margin-top:150px;
}
.apple img{
    margin-right:20px;
	margin-top:18px;
	border:0px;
}
.googleplay img{
    margin-left:40px;
	border:0px;
}
.downcontent p{
    margin-top: 0px;
    margin-bottom:0px;
    padding: 0px;
    color:#757575 ;
	font-size:50px;
}
.downparallex{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}
.store{
    margin-top:50px;
	display:flex;
	justify-content:space-around;
}
.front{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}

.signin{
    margin-top:100px;
	display:flex;
	justify-content:space-between;
}
.btn{
	text-decoration:none;
}
.uploadform{
    background-color:white;
    border:1px solid #e9e9f3;
    border-radius:4px;
	margin-top:73px;
	margin-left:417px;
	width:50%;
	display:flex;
	flex-direction:column;
}
.textinput{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:0px;
    padding-bottom:0px;
}
.myBtn{
    margin:0px 5px 15px 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.likebut i{
	color:#26a69a;
}
span{
	margin:0px 5px 5px 5px;
}
.upload{
	display:flex;
}
.card .card-content{
	padding:8px;
}

.card .card-action{
	padding:8px;
	margin:0px;
}

#follow-name{
	font-family: Nunito;
	font-size:16px;
	color:rgb(97,97,97);
}
#postname{
	color:black;
	font-weight:bold;
	font-family: Nunito;
}
#post-content{
	color:black;
	font-size:15px;
	font-family: Open Sans;
}
input#text_field_comment{
	margin:0px;
}
span.comment-user{
    color:black;
    margin:0px 5px 0px 0px;
	font-family: Nunito;
}
span.comment-content{
    padding:3px opx 3px 8px;
	font-family:Open Sans;
	font-size:14px;
	color:rgb(97,97,97);
}

.card .card-action{
	padding:0px;
}
.card-action a{
	padding:12px 0px 12px 8px;
}
.Follow {
	margin-top:7px;
}
.Follow .card-action{
	height:50px;
}
.card-content p{
    padding-top:15px;
	padding-bottom:15px;
} 

.card .card-content{
	padding: 0px 0px 3px 8px;
}
.extra-content{
    position:fixed;
    width:27%;
    margin-top:73px;
    margin-left:55px;
	display:flex;
	flex-direction:column;
}
.who-to-follow{
	height:300px;
	background-color:white;
	border:1px solid #e9e9f3;
}
.local-foot{
    margin-top:15px;
	height:120px;
	width:100%;
	background-color:white;
	border:1px solid #e9e9f3;
	word-wrap: break-word;
}
.col{
	margin-left:40px;
}
.posts{
	width:50%;
	margin-left:417px;
	margin-top:15px;
}
a.refresh{
	color:#26a69a;
	margin-left:20px;
	font-family:Open Sans;
	cursor:pointer;

}
a.see-all{
	color:#26a69a;
	margin-left:20px;
	font-family:Open Sans;
	cursor:pointer;
}
.trend-follow{
	display:flex;
	align-items:baseline;
}
#to-follow{
    margin-left:13px;
    font-weight:bold;
	font-family:Nunito;
	font-size:20px;
}
.follow-btn1{
    margin-left:20px;
	width:100px;
	height:30px;
	padding-left:27px;
	padding-top:4px;
	color:#26a69a;
	border:1px solid #26a69a;
	border-radius:15px;
	font-weight:bold;
	font-family:Nunito;
}
.follow-btn2{
    margin-left:20px;
	width:100px;
	padding-left:18px;
	padding-top:4px;
	height:30px;
	color:white;
	background-color:#26a69a;
	border:1px solid #26a69a;
	border-radius:15px;
	font-weight:bold;
	font-family:Nunito;
}
#follow-name-trend a{
	font-family: Nunito;
	font-size:16px;
	color:rgb(97,97,97);
	margin-bottom:10px;
}
hr{
	margin-left:5px;
	margin-right:5px;
	color:#26a69a;
}
hr#hr{
	margin-top:10px;
}
a.people-know{
    padding-left:50px;
    padding-top:20px;
	color:#26a69a;
	font-weight:bold;
	font-family:Nunito;
	cursor:pointer;
}
.people-know1{
	margin-left:30px;
	margin-top:15px;
}
span.comment-user{
	font-family:Nunito;
}
div.local-foot div div{
    color:#616161;
	font-family:Open Sans;
	font-size:12px;
}
div.local-foot{
	display:flex;
	flex-direction:column;
}
div.one{
	display:flex;
	margin-top:10px;
    justify-content:space-around;
}
div.two{
	display:flex;
	margin-top:10px;
	justify-content:space-around;
	
}
a.Ad{
    padding-left:70px;
	color:#26a69a;
	font-weight:bold;
	font-family:Nunito;
	cursor:pointer;
}
#Add{
	margin-top:15px;
}




















main {
	padding-top: 64px;
	padding-bottom: 300px;
	
	.jumbo {
	    border:1px solid #e9e9f3;
		width: 100%;
		height: 400px;
		background-size: cover;
	}
	
	.icons {
		display: flex;
		justify-content: space-between;
		
		.big-icon img{
			width: 180px;
			height: 180px;
			background-size: 140%;
			border-radius: 50%;
			border: 2px solid white;
			margin-top: -90px;
		}
		
		.rate {
			width: 125px;
			display: flex;
			justify-content: space-between;
			order: -1;
			
			.star-btn {
				margin-top: -27.5px;
				
				i {
					font-size: 26px;
				}
			}
			
			.like-btn {
				margin-top: -27.5px;
				
				i {
					font-size: 22px;
				}
			}
		}
		
		.add {
			width: 125px;
			display: flex;
			justify-content: flex-end;
			
			.add-btn {
				margin-top: -27.5px;
				
				i {
					font-size: 28px;
				}
			}
		}
	}
	
	.details {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
		
		h3 {
			color: #212121;
			font-size: 28px;
			margin-top: 15px;
		}
		
		p {
			color: #727272;
			margin-top: 0px;
		}
	}
	
}
































@media screen and (max-width: 600px){
    .col{
    margin-left:0px;
    }
	div#posts.posts{
	width:96%;
	margin-left:6.7px;
	}
	div.uploadform{
	width:96%;
	margin-left:6.7px;
	}
	.one{
	display:none;
	}
	.local-foot{
	display:none;
	}
	.extra-content{
	display:none;
	}
}