/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "materialize/extras/nouislider";
@import "font-awesome";

*{
	margin:0px;
	padding:0px;
}

body{
	background-color:#fafafb;
}

.globalcontainer{
	display: flex;
}
header {
  position: fixed;
  z-index: 1000;
  background-color: rgba(33,150,243,0.90);
  width: 100%;
  height: 65px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
}
.lognav{
	display:fixed;
	height:60px;
}
.profile_pic{
	margin-right:5px;
	display:flex;
	align-items:center;
}
.profile_pic img{
	width:40px;
	border-radius:100%;
}
.follow_pic{
	display:flex;
}
.follow_pic img{
	width:40px;
	border-radius:100%;
}
.container1{
    width: 17%;
    margin-left:2px;
    margin-top:65px;
	border:1px solid #e9e9f3;
	height:588px;
	position:fixed;
	left:83%;
}
.right{
	display:flex;
}

.brand-logo{
	font-family: Amaranth;
	font-size:35px;
}
a{
 color:#fff;
}

.slider{
	height:600px;
}
.image1{
	height:600px;
}

#brand-logo1{
    font-family: Amaranth;
	margin-left:24%;
	font-size:35px;
}
#nav-wrapper1{
	background-color:#2196F3;
	display: relative;
	height:60px;
}
.nav{
	display:flex;
	flex-direction:column;
}
.logfooter{
    height:10px;
	width:100%;
	background-color:#fff;
}
.foot{
	display:flex;
	justify-content:space-around;
}
.foot p{
	color: grey;
	font-size:12px;
}
.img img{
	border-radius:100%;
}
.facebook a{
	background-color:#3c5a99;
}
.facebook{
	margin-left:115px;
}

.google{
	margin-right:70px;
}
.google a{
	background-color:#df4a32;
}
.heading{
	margin-top:70px;
}
#upperheading{
    margin-left:70px;
	margin-top:60px;
}
.heading p{
    margin-top: 0px;
    margin-bottom:0px;
    padding: 0px;
	font-size:50px;
	color:#fff;
}
#p1{
    margin-left:150px;
	margin-top:150px;
}
.apple img{
    margin-right:20px;
	margin-top:18px;
	border:0px;
}
.googleplay img{
    margin-left:40px;
	border:0px;
}
.downcontent p{
    margin-top: 0px;
    margin-bottom:0px;
    padding: 0px;
    color:#757575 ;
	font-size:50px;
}
.downparallex{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}
.store{
    margin-top:50px;
	display:flex;
	justify-content:space-around;
}
.front{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}

.signin{
    margin-top:100px;
	display:flex;
	justify-content:space-between;
}
.btn{
	text-decoration:none;
}
.uploadform{
    background-color:white;
    margin-left:0px;
    border:1px solid #e9e9f3;
    border-radius:4px;
	margin-top:73px;
	width:65.6%;
	display:flex;
	flex-direction:column;
}
.textinput{
    margin-left:5px;
    margin-right:5px;
    margin-bottom:0px;
    padding-bottom:0px;
}
.myBtn{
    margin:0px 5px 15px 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.likebut i{
	color:#26a69a;
}
span{
	margin:0px 5px 5px 5px;
}
.upload{
	display:flex;
}
.card .card-content{
	padding:8px;
}

.card .card-action{
	padding:8px;
	margin:0px;
}

#follow-name{
	font-family: Nunito;
	font-size:16px;
	color:rgb(97,97,97);
}
#postname{
	color:black;
	font-family: Nunito;
}
input#text_field_comment{
	margin:0px;
}
span.comment-user{
    margin:0px 5px 0px 0px;
	font-family: Nunito;
}
span.comment-content{
    padding:3px opx 3px 8px;
	font-family:Open Sans;
	font-size:12px;
	color:rgb(97,97,97);
}

.card .card-action{
	padding:0px;
}
.card-action a{
	padding:12px 0px 12px 8px;
}
.Follow .card-action{
	height:50px;
}
.card-content p{
    padding-top:15px;
	padding-bottom:15px;
} 

.card .card-content{
	padding: 0px 0px 3px 8px;
}