// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@media screen and (max-width: 600px) {
	
	main {
		padding-top: 40px;	
	}
	
	.jumbo {
		height: 200px !important;
	}
	
	.icons {
		justify-content: center !important;
	}
	
	.rate {
		display: none !important;
	}
	
	.add {
		display: none !important;
	}

	.who-to-follow{
	display:none;
	}
	.local-foot{
	display:none;
	}
	.container1{
	display:none;
	}
	.posts{
	width:100%;
	margin-left:5px;
	margin-right:5px;
	}
}
